html {
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, sans-serif;
}

.game {
  display: flex;
  margin: 30px;
}

.sidemenu {
  margin-left: 30px;
  width: 300px;
  min-width: 300px;
}

.sidemenu__title {
  font-size: 35px;
  text-align: center;
}

.sidemenu__counters {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.sidemenu__counter {
  width: 120px;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: 'Orbitron';
  font-size: 30px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.4);
  color: rgb(211, 82, 82);
}

.sidemenu__restart {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.sidemenu__restart-btn {
  padding: 5px;
  font-size: 30px;
  background-color: rgba(128, 128, 128, 0.4);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.victory-image-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.victory-image {
  width: 90%;
  border-radius: 10px;
}

.grid {
  width: 576px;
  min-width: 576px;
  height: 576px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.cell {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid black;
  border-radius: 2px;
  transition: 0.1s;
}

.cell_open {
  background-color: #c0c0c0;
}

.cell_mine {
  background-color: firebrick;
}

.cell__value {
  font-weight: 700;
  opacity: 0;
  animation: appear 0.1s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cell__value[data-cell-value~="1"] { color: #0001fd; }
.cell__value[data-cell-value~="2"] { color: #017e00; }
.cell__value[data-cell-value~="3"] { color: #fe0000; }
.cell__value[data-cell-value~="4"] { color: #010180; }
.cell__value[data-cell-value~="5"] { color: #810101; }
.cell__value[data-cell-value~="6"] { color: #008080; }
.cell__value[data-cell-value~="7"] { color: #000000; }
.cell__value[data-cell-value~="8"] { color: #808080; }